@using Contentful.Core.Models

@model ContentfulCollection<Movie>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Movies</h1>

@foreach (var movie in Model)
{
    <div class="movie">
        <h2>@movie.Title</h2>
        <p>Genre: @movie.Genre</p>
        <p>Director: @movie.Director</p>
        <p>Actors: @movie.Actors</p>
        <p>Release Date: @movie.ReleaseDate.ToString("dd MMMM yyyy")</p>
        <p>Run Time: @movie.Runtime</p>
        <p>IMDB Rating: @movie.IMDBRating/10</p>
        <p>RT Rating: @movie.RTRating</p>
        <img src="@movie.Poster.File.Url" alt="@movie.Poster.Title" width="400" />
    </div>
}
